.site-header {
    background-color: #06b67b;
    color: aliceblue;
    height: 100vh;
    font-family: monospace;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.site-header-content{
    margin:1rem;
   
}
.profile-pic{
border-radius: 50%;
height: 25vh;
width: 25vh;
align-self: center;
box-shadow: #022f20 2px 2px 5px;
}
body{
    margin: 0
}